

#team i {
    font-size: 26px;
    color: #555;
}

#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #f0faff;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #f0faff;
    color: #000;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover h3,
#team .card:hover i {
    color: #000;
}


.timeline {
    max-width: 830px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 0px;
}
.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #848892;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.timeline__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    width: 386px;
    box-shadow: 0 2px 8px 0 #242e4c 59;
}
.timeline__content::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.timeline__content::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #848892;
    border-radius: 50%;
    transform: translateY(-50%);
}
.timeline__content:nth-child(odd) {
    margin-left: auto;
}
.timeline__content:nth-child(odd) .content_tag {
    right: 5px;
}
.timeline__content:nth-child(odd)::after {
    left: -10px;
}
.timeline__content:nth-child(odd)::before {
    top: 50%;
    left: -39px;
}
.timeline__content:nth-child(even) {
    align-items: flex-end;
}
.timeline__content:nth-child(even) .content_p {
    text-align: right;
}
.timeline__content:nth-child(even)::after {
    right: -10px;
}
.timeline__content:nth-child(even)::before {
    top: 50%;
    right: -39px;
}
.timeline__content:nth-child(even) .content_tag {
    left: 5px;
}
.content_tag {
    position: absolute;
    top: 5px;
    padding: 6px 10px;
    background-color: #fcf3e3;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: #1f1f1f;
}
.content_date {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #848892;
}
.content_p {
    color: #242e4c;
    max-width: 230px;
    margin-bottom: 20px;
}
.content_link {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #1f1f1f;
}
.content_link svg {
    margin-left: 5px;
}
.content_link:hover {
    color: royalblue;
    transition-duration: 300ms;
}
.content_link:hover svg path {
    fill: royalblue;
}
@media screen and (max-width: 600px) {
    .timeline {
        gap: 15px;
        padding: 10px;
   }
    .timeline::after {
        display: none;
   }
    .timeline__content {
        width: 100%;
   }
    .timeline__content::after {
        display: none;
   }
    .timeline__content::before {
        display: none;
   }
}
